body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.nav-wrapper {
  background: #ececec;
}

.site-wrapper {
  text-align: center;
  margin: 0 auto;
}

#nav-logo {
  width: 3rem;
  height: 3rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
}
